:root {
  font-size: calc(0.5rem + 1vw);

  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-blue: blue;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid var(--clr-blue);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 0 0 0.5em 0;
  text-decoration: underline;
}

.wrapper {
  border: 3px solid var(--clr-black);
  padding: 2em;
}

.form__label {
  font-weight: bold;
}

.section__input {
  display: flex;
}

.form__control,
.toggle-displayBtn {
  border: 2px solid var(--clr-black);
}

.toggle-displayBtn:focus {
  outline: 1px solid var(--clr-blue);
  border: none;
  background-color: var(--clr-blue);
}

.form__control {
  flex: 1;
  height: 2em;
}

.toggle-displayBtn {
  text-transform: uppercase;
  border-left: none;
  color: var(--clr-white);
  font-weight: bold;
  background-color: var(--clr-black);
  cursor: pointer;
}
